// COLOR
$pr-color: #F4841C;
$sc-color: #1C0F00;
$tr-color: #fafafa;

// TEXT & BG
.text-primary {
    color: $pr-color !important;
}
.bg-primary {
    background-color: $pr-color !important;
}

.text-secondary {
    color: $sc-color !important;
}
.bg-secondary {
    background-color: $sc-color !important;
}

.text-tertiary {
    color: $tr-color;
}
.bg-tertiary {
    background-color: $tr-color;
}

// BUTTON
// primary
$btn-pr-hover: lighten($pr-color, 10%);
$btn-pr-active: lighten($btn-pr-hover, 5%);

.btn-primary:not(.navbar .btn-primary) {
    background-color: $pr-color !important;
    color: $tr-color !important;
    height: 60px !important;
    width: 200px !important;
    font-weight: 600 !important;
    font-size: 20px !important;
    border: none !important;
    border-radius: 5px !important;
}
.btn-primary:not(.navbar .btn-primary):hover {
    background-color: $btn-pr-hover !important;
}
.btn-primary:not(.navbar .btn-primary):active {
    background-color: $btn-pr-active !important;
}

// secondary
$btn-sc-hover: lighten($sc-color, 10%);
$btn-sc-active: lighten($btn-sc-hover, 5%);

.btn-secondary {
    background-color: $sc-color !important;
    color: $tr-color !important;
    height: 60px !important;
    width: 200px !important;
    font-weight: 600 !important;
    font-size: 20px !important;
    border: none !important;
    border-radius: 5px !important;
}
.btn-secondary:hover {
    background-color: $btn-sc-hover !important;
}
.btn-secondary:active {
    background-color: $btn-sc-active !important;
}

// ABOUT US
// fungsi untuk mengatur padding top dan bottom section
@function setSectionPadding($is-first-section) {
    @if ($is-first-section) {
        @return 250px 0 150px 0;
    } @else {
        @return 50px 0 50px 0;
    }
}

// atur padding section
#abus-header {
    padding: setSectionPadding(true);
}
section:not(#abus-header, #abus-img) {
    padding: setSectionPadding(false);
}

// about us section 3: values
.values-size {
    width: 80px; height: 80px;
}

// about us section 4 & 5: vision mission
.desktablet-size {
    width: 100%; height: 500px;
}
.mobile-size {
    width: 100%; height: 300px;
}

// about us section 6: team
#abus-team div[class*="card-header"] {
    background-color: #FBECDE;
}

// about us section 7: cta
#abus-cta .dropdown-item {
    color: $tr-color !important;
}

#abus-cta .dropdown-item:hover {
    background-color: $pr-color !important;
}

#abus-cta .dropdown-item:active {
    background-color: lighten($pr-color, 5%) !important;
}

#abus-cta .dropdown-menu-dark {
    background-color: $sc-color !important;
}