// VARIABEL
// color
$pr-color: #F4841C;
$sc-color: #1C0F00;
$tr-color: #fafafa;
// button
$btn-pr-hover: lighten($pr-color, 10%);
$btn-pr-active: lighten($btn-pr-hover, 5%);
$btn-sc-hover: lighten($sc-color, 10%);
$btn-sc-active: lighten($btn-sc-hover, 5%);

// TEXT & BG
.text-primary {
    color: $pr-color !important;
}
.bg-primary {
    background-color: $pr-color !important;
}

.text-secondary {
    color: $sc-color !important;
}
.bg-secondary {
    background-color: $sc-color !important;
}

.text-tertiary {
    color: $tr-color;
}
.bg-tertiary {
    background-color: $tr-color;
}

// BUTTON
.base-btn {
    height: 55px !important;
    width: 200px !important;
    font-weight: 600 !important;
    font-size: 18px !important;
    border-radius: 5px !important;
}
.base-btn-normal {
    @extend .base-btn;
    border: none !important;
}
.base-btn-outline {
    @extend .base-btn;
    border-width: 3px !important;
}

// primary
// normal
.btn-primary:not(.navbar .btn-primary) {
    @extend .base-btn-normal;
    background-color: $pr-color !important;
    color: $tr-color !important;

    &:hover {
        background-color: $btn-pr-hover !important;
    }

    &:active {
        background-color: $btn-pr-active !important;
    }
}

// secondary
// normal
.btn-secondary {
    @extend .base-btn-normal;
    background-color: $sc-color !important;
    color: $tr-color !important;

    &:hover {
        background-color: $btn-sc-hover !important;
    }

    &:active {
        background-color: $btn-sc-active !important;
    }
}

// outline
.btn-outline-secondary {
    @extend .base-btn-outline;
    border-color: $sc-color !important;
    color: $sc-color !important;

    &:hover, &:active {
        color: $tr-color !important;
        background-color: $sc-color !important;
        border-color: $sc-color !important;
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// ABOUT US
// atur padding section
#abus-header {
    padding: 150px 0 50px 0;
}
section:not(#abus-header) {
    padding: 50px 0 50px 0;
}

// atur ukuran gambar dan btn sesuai breakpoint
/* xs */
.header-img {
    height: 300px;
    width: 250px;
}
.cta-img {
    height: 250px;
    width: 250px;
}
#abus-vision img, #abus-mission img {
    height: 300px;
    width: 350px;
}
#abus-cta .btn {
    font-size: 18px !important;
    width: 200px !important;
}
/* sm */
@media (min-width: 576px) {
    .header-img {
        height: 350px;
        width: 300px;
    }
    .cta-img {
        height: 300px;
        width: 300px;
    }
    #abus-vision img, #abus-mission img {
        height: 350px;
        width: 450px;
    }
    #abus-cta .btn {
        font-size: 18px !important;
        width: 200px !important;
    }
}
/* md */
@media (min-width: 768px) {
    .header-img {
        height: auto;
        width: auto;
    }
    .cta-img {
        height: auto;
        width: auto;
    }
    #abus-vision img, #abus-mission img {
        height: 400px;
        width: 550px;
    }
    #abus-cta .btn {
        font-size: 17px !important;
        width: 160px !important;
    }
}
/* lg */
@media (min-width: 992px) {
    .header-img {
        height: auto;
        width: auto;
    }
    .cta-img {
        height: auto;
        width: auto;
    }
    #abus-vision img, #abus-mission img {
        height: 500px;
        width: 500px;
    }
    #abus-cta .btn {
        font-size: 18px !important;
        width: 200px !important;
    }
}

// about us section header
#abus-header .btn {
    height: 46px !important;
}
.strip-header {
    margin-right: 10px;
}

// about us section values
#abus-values {
    background-color: #f0f0f0;
}
#abus-values i {
    color: #f0f0f0;
}
.values-size {
    width: 80px; height: 80px;
}

// about us section team
#abus-team div[class*="card-header"] {
    background-color: #FBECDE;
}

// about us section cta
#abus-cta .btn {
    border-radius: 50px !important;
}