$first-width: 5px;
$second-width: 5px;

@function set-width($n) {
    @return $n * $first-width + ($n - 1) * $second-width;
}

// styles.scss

#abus-header {
    padding-left: 33%;
    padding-right: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;

    // ... (lanjutkan dengan aturan CSS lainnya)
}
.card {
    width: var(--global);
    border: none;
    background-color: transparent;
    text-align: center;
    padding: 10px;
    margin: set-width(6); //function
 } 
    
.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    // ... (lanjutkan dengan aturan CSS lainnya)
}

// ... (lanjutkan dengan aturan CSS lainnya)
