@use "AboutUs_Var";

$pr-color: AboutUs_Var.$pr-color;
$sc-color: AboutUs_Var.$sc-color;
$tr-color: AboutUs_Var.$tr-color;
$btn-pr-hover: AboutUs_Var.$btn-pr-hover;
$btn-pr-active: AboutUs_Var.$btn-pr-active;
$btn-sc-hover: AboutUs_Var.$btn-sc-hover;
$btn-sc-active: AboutUs_Var.$btn-sc-active;

// TEXT & BG
.text-primary {
    color: $pr-color !important;
}
.bg-primary {
    background-color: $pr-color !important;
}

.text-secondary {
    color: $sc-color !important;
}
.bg-secondary {
    background-color: $sc-color !important;
}

.text-tertiary {
    color: $tr-color;
}
.bg-tertiary {
    background-color: $tr-color;
}

// BUTTON
.base-btn {
    height: 55px !important;
    width: 200px !important;
    font-weight: 600 !important;
    font-size: 18px !important;
    border-radius: 5px !important;
}
.base-btn-normal {
    @extend .base-btn;
    border: none !important;
}
.base-btn-outline {
    @extend .base-btn;
    border-width: 3px !important;
}

// primary
// normal
.btn-primary:not(.navbar .btn-primary) {
    @extend .base-btn-normal;
    background-color: $pr-color !important;
    color: $tr-color !important;
}
.btn-primary:not(.navbar .btn-primary):hover {
    background-color: $btn-pr-hover !important;
}
.btn-primary:not(.navbar .btn-primary):active {
    background-color: $btn-pr-active !important;
}

// secondary
// normal
.btn-secondary {
    @extend .base-btn-normal;
    background-color: $sc-color !important;
    color: $tr-color !important;
}
.btn-secondary:hover {
    background-color: $btn-sc-hover !important;
}
.btn-secondary:active {
    background-color: $btn-sc-active !important;
}

// outline
.btn-outline-secondary {
    @extend .base-btn-outline;
    border-color: $sc-color !important;
    color: $sc-color !important;
}
.btn-outline-secondary:hover {
    color: $tr-color !important;
    background-color: $sc-color !important;
    border: none !important;
}