@import "AboutUs_Comp";

// ABOUT US
// atur padding section
#abus-header {
    padding: 150px 0 50px 0;
}
section:not(#abus-header) {
    padding: 50px 0 50px 0;
}

// about us section header
#abus-header .btn {
    height: 46px !important;
}
.strip-header {
    margin-right: 10px;
}

// about us section values
#abus-values {
    background-color: #f0f0f0;
}
#abus-values i {
    color: #f0f0f0;
}
.values-size {
    width: 80px; height: 80px;
}

// about us section vision mission
.desktablet-size {
    width: 100%; height: 500px;
}
.mobile-sm-size {
    width: 100%; height: 400px;
}
.mobile-size {
    width: 100%; height: 300px;
}

// about us section team
#abus-team div[class*="card-header"] {
    background-color: #FBECDE;
}

// about us section cta
#abus-cta .btn {
    border-radius: 50px !important;
}