//* !VARIABEL SASS! *//

// Variabel font
$subtitle-line-height: 25px;
$paragraph-font-size: 16px;

// Root  pr, sc, tr
$root-color: #F4841C, #1C0F00, #fafafa;

// Warna bg section
$bg-soft-white: nth($root-color, 3);
$bg-light-orange: #FBECDE;
$bg-light-grey: #F0F0F0;

// ================================================================================================================================================== //
// CSS

// Portfolio_hero
#hero {
    background-color: $bg-soft-white;
}

// Portfolio_whyus
#why-us {
    background-color: $bg-soft-white;
}

// Portfolio_feedback
.cont-feedback {
    padding-top: 100px;
    padding-bottom: 80px;
}

#form-feedback {
    background-color: $bg-light-grey;
}

// Portfolio_workflow section
#work-flow {
    background-color: $bg-light-orange;
}

.workflow-title {
    color: nth($root-color, 1);
}

.workflow-subtitle {
    line-height: $subtitle-line-height;
}

.wf-title {
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 2%;
}

.wf-paragraph {
    font-size: $paragraph-font-size;
    line-height: 20px;
    letter-spacing: 2%;
}
