$primary-color: #ffff;
$secondary-color: #F66D09;
$font-family: 'Poppins', sans-serif;
$padding-small: 10px;
$padding-medium: 20px;
$padding-large: 30px;
$gradient-colors: #FFFFFF, #FBD2AC, #fa9c43;
$gradient-background: linear-gradient(to right, $gradient-colors);


// Function untuk menghasilkan warna yang lebih terang
@function lighten-color($color, $amount) {
  @return lighten($color, $amount);
}

$darkened-color: darken-color($gradient-background, 10%);
$lightened-color: lighten-color($primary-color, 10%);

body {
  background: $gradient-background;
  font-family: $font-family;
}

// Gradient Banner
.gradient-banner {
  padding: $padding-medium 0;
  color: white;
  h3 {
    color: $primary-color;
  }
  h1 {
    font-size: 55px;
  }
}


// Contact Information Section
.section {
  padding: $padding-medium 0;
  .col-md-4 {
    margin-bottom: $padding-small;
  }
  img {
    max-width: 100%;
  }
}

// Feature Section
.feature {
  background-color: $primary-color;
  padding: $padding-medium 0;
  color: white;
  .image-content {
    img {
      max-width: 100%;
    }
  }
  .feature-content {
    h2 {
      font-weight: bold;
      font-size: 35px;
    }
    p.desc {
      color: #FAFAFA;
    }
  }
}

.button {
  display: inline-block;
  padding: $padding-small $padding-medium;
  background-color: $primary-color;
  color: white;
  border: none;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  
  &:hover {
    background-color: $secondary-color;
  }
}
.testimonial {
  background-color: $lightened-color;
}
