$primary-color: #ffff;
$secondary-color: #F66D09;
$font-family: 'Poppins', sans-serif;
$padding-small: 10px;
$padding-medium: 20px;
$padding-large: 30px;


.gradient-banner {
  padding: $padding-medium 0;
  color: white;
  h3 {
    color: $primary-color;
  }
  h1 {
    font-size: 55px;
  }
}

// Contact information section
.section {
  padding: $padding-medium 0;
  .col-md-4 {
    margin-bottom: $padding-small;
  }
  img {
    max-width: 100%;
  }
}

// Feature section
.feature {
  background-color: $primary-color;
  padding: $padding-medium 0;
  color: white;
  .image-content {
    img {
      max-width: 100%;
    }
  }
  .feature-content {
    h2 {
      font-weight: bold;
      font-size: 35px;
    }
    p.desc {
      color: #FAFAFA;
    }
  }
}



