.carousel-item {
    transition-duration: 1s; 
}

.card {
    width: 100%;
    height: 300px;
    transform-style: preserve-3d;
    perspective: 500px;
    border: none;
    background-color: inherit;
}

.card .box {
    position: absolute;
    color: #262626;
    width: 100%;
    height: 100%;
    box-shadow: 0 15px 35px #f4eee9;
    border-radius: 15px;
    background: #fc8b34;
    transform-style: preserve-3d;
    transition: 0.05s;
    backface-visibility: hidden;
}
.card .box.front{
    background-repeat: repeat;
}
.card .box.front,
.card .box.back {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card .box.front img {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	object-fit: cover;
	border: 5px solid #f4eee9;
	margin-bottom: 25px;
}

.card:hover .box.front {
    transform: rotateY(180deg);
}
.box.front h2 {
	font-family: 'Bebas Neue';
    color: #f4eee9;
}
.box.front h4 {
	font-size: 18px;
	letter-spacing: 2px;
    color: #f4eee9;
}



.card .box.back {
    position: absolute;
    background: #fc8b34;
    transform: rotateY(180deg);
    padding: 20px 30px;
    text-align: center;
    user-select: none;
}


.card .box.back .fa-quote-left {
	position: absolute;
	top: 25px;
	left: 180px;
}

.card:hover .box.back {
    transform: rotateY(360deg);
}

@media(max-width: 991.5px) {
    .col-lg-4 {
        margin-top: 40px;
        margin-bottom: 20px;
    }
}
