$primary-color: #F4841C;

$warna: darken(white, 10%);

/* Gaya untuk Section 1 - Deskripsi Jasa Pembuatan dan Publikasi Jurnal */
#jur-header {
  $primary-color: #ffff;
  background-color: $primary-color;
  padding: 150px 0 50px 0;
}

#jur-header h3 {
  font-weight: bold;
  margin-bottom: 1rem;
}

#jur-header p {
  font-size: 20px; 
}

/* Gaya untuk Section 2 - Pricing */
#pricing {
  background-color: $primary-color;
  padding: 50px 0;
}

#pricing h2 {
  font-weight: bold;
  font-size: 40px; 
}

#pricing p {
  font-size: 20px; 
}

#pricing .card .text-center{
  background-color: $warna;
}

/* Gaya untuk Section 3 - Alur Pemesanan melalui WhatsApp */
#whatsapp-order {
  padding: 50px 0;
}

#whatsapp-order h2 {
  font-weight: bold;
  color: #F4841C;
}

#whatsapp-order p {
  font-size: 20px; 
}

/* Gaya untuk Section 4 - Portofolio */
#port-jurnal {
  background-color: #F4841C;
  padding: 150px 0;
}

#port-jurnal h2 {
  font-weight: bold;
  color: white;
}

#port-jurnal .card {
  margin-bottom: 1rem;
}

/* gaya kustom */
body {
  font-family: 'Poppins', sans-serif;
}
