@use 'button';
@import 'variables';
@import 'mixins';

$btn-color: button.$button-color;
$txt-color: button.$button-font-color;
.btn-primary {
  font-weight: 400;
  font-size: 18px;
  width: 140px;
  height: 46px;
  background-color: $btn-color;
  color: $txt-color;
  border: none;

  &:hover {
    font-weight: 500;
    font-size: 18px;
    width: 140px;
    height: 46px;
    background-color: lighten($btn-color, 10%);
    color: $txt-color;
    border: none;
  }
}

// Portfolio_hero
#hero {
  background-color: $bg-soft-white;
}

// Portfolio_whyus
#why-us {
  background-color: $bg-soft-white;
}

// Portfolio_feedback
.cont-feedback {
  padding-top: 100px;
  padding-bottom: 80px;
}

.icons {
    img {
      width: 40px;
      transition: transform 0.3s ease, filter 0.3s ease;
  
      &:hover {
        transform: scale(1.2); // Membesarkan ikon saat hover
        filter: brightness(1.2); // Peningkatan kecerahan saat hover
      }
    }
  }

#form-feedback {
  background-color: $bg-light-grey;
}

// Portfolio_workflow section
#work-flow {
  background-color: $bg-light-orange;
}

.workflow-title {
  color: get-color('pr');
}

.workflow-subtitle {
  line-height: $subtitle-line-height;
}

.wf-title {
  @include text-style(19px, 30px, 2%);
}

.wf-paragraph {
  @include text-style($paragraph-font-size, 20px, 2%);
}

// Portfolio_project section
#project-showcase {
  background-color: $bg-light-grey
}

.text {
  color: get-color('sc');
}

