// perkumpulan variabel dan fungsi

$primary-color: #ffff;
$secondary-color: #F66D09;
$font-family: 'Poppins', sans-serif;
$padding-small: 10px;
$padding-medium: 20px;
$padding-large: 30px;
$gradient-colors: #FFFFFF, #FBD2AC, #fa9c43;
$gradient-background: linear-gradient(to right, $gradient-colors);


// Function untuk menghasilkan warna yang lebih terang
@function lighten-color($color, $amount) {
  @return lighten($color, $amount);
}

$darkened-color: darken-color($gradient-background, 10%);
$lightened-color: lighten-color($primary-color, 10%);

body {
  background: $gradient-background;
  font-family: $font-family;
}

